<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= animal.dob %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= animal.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= animal.size %>
  </p>

</div>
