<%= form_with(model: animal) do |form| %>
  <% if animal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
        <% animal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :dob, style: "display: block" %>
    <%= form.date_field :dob %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

    <div class="field">
    <%= form.label :size %>
    <%= form.select :size, ["small", "medium", "large"] %>
  </div>

  <div class="field">
    <%= form.label :breed_ids %>
    <%= collection_select(
      # https://stackoverflow.com/questions/8907867/can-someone-explain-collection-select-to-me-in-clear-simple-terms

      :breeds, # field namespace
      :ids,# field_name
      # result of these two params will be: <select name="breeds[ids]">...

      # then you should specify some collection or array of rows.
      # It can be Author.where(..).order(..) or something like that.
      # In your example it is:
      Breed.all,

      :id, # this is name of method that will be called for every row, result will be set as key
      :breed, # this is name of method that will be called for every row, result will be set as value
      { :selected => animal.breeds.map(&:id), :include_blank => "Please select on or moe breeds" }, # hash of options
      { :multiple => true } # html options
      )%>
  </div>



  <div class="row">
    <% @animal.photos.each do |photo| %>
      <div class="photo">
        <%= image_tag(photo.address)%>
      </div>
      <%= link_to "Delete Photo", "/animals/#{@animal.id}/delete_photo/#{photo.id}", data: { "turbo-method": :delete } %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
