<p style="color: green"><%= notice %></p>

<div>
  <h2>Search</h2>

  <%= form_with url: "/animals/search", method: :get do |form| %>

    <%= form.label :name, "Search for name:" %>
    <%= form.text_field :name %>

    <%= form.label :size, "size:" %>
    <%= form.select :size, Animal.sizes, { include_blank: true } %>
    <%= form.label :sex, "sex:" %>
    <%= form.select :sex, Animal.sexes, { include_blank: true } %>
    <%= form.label :species, "species:" %>
    <%= form.select :species, Animal.species, { include_blank: true } %>
    <%= form.label :age_group, "age group:" %>
    <%= form.select :age_group, Animal::AGE_GROUPS.keys, { include_blank: true } %>

    <%= form.check_box :good_with_small_children %>
    <%= form.label :good_with_small_children, "Good with small cbildren" %>
    <%= form.check_box :good_with_older_children %>
    <%= form.label :good_with_older_children, "Good with older cbildren" %>

    <%= form.check_box :good_with_other_dogs %>
    <%= form.label :good_with_other_dogs, "Good with other dogs" %>
    <%= form.check_box :good_with_cats %>
    <%= form.label :good_with_cats, "Good with cats and pocket pets" %>

    <%= form.check_box :can_be_left_alone_during_working_hours %>
    <%= form.label :can_be_left_alone_during_working_hours, "Can be left alone during working hours" %>
    <%= form.check_box :apartment_friendly %>
    <%= form.label :apartment_friendly, "Apartment friendly" %>


    <%= form.submit "Search" %>
  <% end %>

</div>

<h1>Animals</h1>

<div id="animals">
  <% if @animals.present? %>
    <%= @animals.count %> animals found in search
    <% @animals.each do |animal| %>
      <%= render animal %>
      <p>
        <%= link_to "Show this animal", animal %>
      </p>
    <% end %>
  <% else %>
    No animals match criteria
  <% end %>
</div>
