<p style="color: green"><%= notice %></p>

<div>
  <h2>Search</h2>

  <%= form_with url: "/animals/search", method: :get do |form| %>
    <%= form.label :query, "Search for name:" %>
    <%= form.text_field :name %>
    <%= form.label :size, "Search for size:" %>

    <%= form.select :size, Animal.sizes, { include_blank: true } %>
    <%= form.select :sex, Animal.sexes, { include_blank: true } %>
    <%= form.select :age_group, Animal.age_groups.keys, { include_blank: true } %>

    <%= form.submit "Search" %>
  <% end %>

</div>

<h1>Animals</h1>

<div id="animals">
  <% if @animals.present? %>
    <%= @animals.count %> animals found in search
    <% @animals.each do |animal| %>
      <%= render animal %>
      <p>
        <%= link_to "Show this animal", animal %>
      </p>
    <% end %>
  <% else %>
    No animals match criteria
  <% end %>
</div>
