<p style="color: green"><%= notice %></p>

  <% if current_user %> <!-- Logged in users can edit -->
    <%= link_to("Edit", edit_animal_path) %>
  <% end %>

  <%= render "photo_carousel", animal: @animal%>

  <div class="row">
    <div class="col">
      <p>
        <%= @animal.description %>
      </p>
    </div>

    <div class="col">
      <%= render "animal_details", animal: @animal%>
    </div>
  </div>

  <% if can_show_adoption_details? %> <!-- Logged in users can see adoption details -->
    <%= render "adoption_details", animal: @animal%>
  <% end %>




<script>
// add 'active' class to one photo, otherwise none will be shown
  var firstPhotoDiv = document.querySelector('.carousel-item');

  if (typeof firstPhotoDiv !== 'undefined') {
    firstPhotoDiv.classList.add("active");
  }
</script>
