<% if can_edit? %>
  <%=
    link_to(
      "Edit this animal",
      edit_animal_path(@animal),
      method: :get,
      class: 'btn btn-danger btn-lg btn-block hundred'
    )
  %>
<% end %>

<%= render "photo_carousel", animal: @animal%>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <%= render "animal_details", animal: @animal%>
  </div>

  <% if can_show_adoption_details? %> <!-- Logged in users can see adoption details -->

    <div class="col-sm-12 col-md-6">
      <%= render "adoption_details", animal: @animal%>
    </div>
  <% else %>
    <div class="col-sm-12 col-md-6">
      <%= render "adoption_call_to_action", animal: @animal%>
    </div>
  <% end %>

  <div class="col">
    <h4>Summary</h4>
    <p>
      <%= @animal.description %>
    </p>
  </div>
</div>


<script>
// add 'active' class to one photo, otherwise none will be shown
  var firstPhotoDiv = document.querySelector('.carousel-item');

  if (typeof firstPhotoDiv !== 'undefined') {
    firstPhotoDiv.classList.add("active");
  }
</script>
