<p style="color: green"><%= notice %></p>

  <h2><%= @animal.name %></h2>

  <div id="photos" class="row gallery">
    <% @animal.photos.each do |photo| %>
      <div class="col-sm-4">
          <%= link_to image_tag(photo.address, class: "gallery-img"), photo.address %>
      </div>
    <% end %>
  </div>

  <div>
    <p>
      <%= @animal.description %>
    </p>
  </div>

  <% if @user %> <!-- Logged in users can see adoption details -->
    <%= render "adoption_details", animal: @animal%>
  <% end %>


<table class="table">
  <tbody>
    <tr>
      <td><strong>Size</strong></td>
      <td><%= @animal.size.capitalize %></td>
    </tr>
    <tr>
      <td><strong>Sex:</strong></td>
      <td><%= @animal.sex.capitalize %></td>
    </tr>
    <tr>
      <td><strong>Species:</strong></td>
      <td><%= @animal.species.capitalize %></td>
    </tr>
    <tr>
      <td><strong>Age:</strong></td>
      <td><%= @animal.age %></td>
    </tr>
    <tr>
      <td><strong>Breed(s):</strong></td>
      <td><%= @animal.breeds_summary %></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit this animal", edit_animal_path(@animal) %> |

  <%= link_to "Back to animals", animals_path %>
  <%= link_to "Back to dogs", @dogs_path %>
  <%= link_to "Back to cats", '/animals/cats' %>


</div>
